<menu class="menu"></menu>
<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">Produto</div>
      <div class="panel-body">
        <form action="">
          <div class="row">
            <div class="col-sm-5">
              <label for="">Nome:</label>
              <input type="text" [(ngModel)]="product.nome" name="nome" class="form-control" required autofocus>
            </div>
            <div class="col-sm-5">
              <label for="">Fornecedor:</label>
              <select class="form-control" [(ngModel)]="product.id_fornecedor" name="id_fornecedor" >
                <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.nome}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <label for="">Quantidade em estoque:</label>
              <input type="number" [(ngModel)]="product.saldo" name="saldo" class="form-control" required autofocus>
            </div>
            <div class="col-sm-4">
              <label for="">Valor:</label>
              <div class="input-group">
                <span class="input-group-addon">R$</span>
                <input type="number" [(ngModel)]="product.valor" name="valor" class="form-control" aria-label="Amount (to the nearest dollar)">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <div class="btn btn-success" style="margin-right: 5px;" (click)="submit()">Salvar</div>
        <div class="btn btn-default" routerLink="/produtos/1">Voltar</div>
      </div>
    </div>
  </div>
</div>
