.component-menu .menu {
  width: 100%;
  height: 100%;
  border: 1px solid #f9f9f9;
  min-height: 100vh;
}
.component-menu .menu .ul li{
    padding: 12px;
    border: 1px solid transparent
}
.component-menu .menu .ul li:hover,
.component-menu .menu .ul .active{
    background-color: #f9f9f9;
    border: 1px solid #f0f0f0;
}

.component-menu .menu .ul li:focus {
  outline: 0;
}

.component-menu .ul {
  list-style: none;

}
.component-menu a {
    text-decoration: none;
}

.component-menu .menu .ul {
  padding-left: 0px;
}

header {
  background-color: #CE90E6;
  margin-bottom: 0px;
}

header div {
  color: white;
}
header div:hover {
  color: white;
}
