<menu class="menu"></menu>
<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">Usuário</div>
      <div class="panel-body">
        <form action="">
          <div class="row">
            <div class="col-sm-6">
              <label for="">Nome:</label>
              <input type="text" [(ngModel)]="user.nome" name="nome" class="form-control" required autofocus>
            </div>
            <div class="col-sm-6">
              <label for="">Emal:</label>
              <input type="text" [(ngModel)]="user.email" name="email" class="form-control" required autofocus>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                <label for="">Login:</label>
                <input type="text" [(ngModel)]="user.login" name="login" class="form-control" required autofocus>
              </div>
              <div class="col-sm-6">
                <label for="">Senha:</label>
                <input type="text" [(ngModel)]="user.senha" name="senha" class="form-control" required autofocus>
              </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <div class="btn btn-success" style="margin-right: 5px;" (click)="submit()">Salvar</div>
        <div class="btn btn-default" routerLink="/usuarios/1">Voltar</div>
      </div>
    </div>
  </div>
</div>
